---
const res = await fetch("https://altiushealthcare.co.uk/wp-json/wp/v2/posts?_fields=date,slug,author,id,excerpt,title,link,content&per_page=100")
const posts = await res.json()


console.log([posts.length])
---
<div class="all-posts">
<h1>Astro + WordPress 🚀</h1>
<!-- {
  posts.map((post) => (
      <h2 set:html={post.id} />
      <p set:html={post.excerpt.rendered} />
      <p set:html={post.content.rendered} />
  ))
} -->

{
    posts.map((post) => (
      <article>
        <h2>
          <a href={`/dinos/${post.slug}/`} set:html={post.title.rendered} />
        </h2>
        <Fragment set:html={post.content.rendered} />
      </article>
    ))
  }
</div>
<style>
    .all-posts {
        color:white;
    }
</style>